@font-face {
  font-family: calculator;
  src: url(digital-7.ttf);
}

html {
  font-size: 15px;
}

* {
  touch-action: manipulation;
}

body {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.125rem;
  text-align: center;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.calc-container {
  width: 450px;
  margin: 4rem auto;
  border: 8px outset #2d2d2d;
  border-radius: 4px;
  box-shadow: 6px 8px #888888;
}

.display-container {
  display: flex;
  background-color: #2d2d2d;
}

#display {
  background: #615c48;
  padding: 4px 12px;
  margin: 1rem;
  font-size: 3rem;
  flex: auto;
  text-align: end;
  font-family: "calculator", monospace;
  font-weight: 100;
  pointer-events: none;
  border: 8px inset #2d2d2d;
  border-radius: 4px;
}

#info {
  margin: auto;
  width: 400px;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.calculator-buttons {
  background-color: #ddc5a1;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.clear-button {
  background: #d06c1e;
}

button {
  color: #dedede;
  background: rgb(80, 80, 80);
  background: linear-gradient(
    90deg,
    rgba(80, 80, 80, 1) 0%,
    rgba(45, 45, 45, 1) 100%
  );
  border: 8px solid #2d2d2d;
  border-radius: 8px;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

#equals {
  background: #615c48;
  grid-column-start: 3;
  grid-column-end: span 2;
}

@media only screen and (max-width: 450px) {
  .calc-container {
    width: 350px;
  }

  #info {
    margin: auto;
    width: 300px;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
